.Delete-Popper-main input, .Delete-Popper-main {
    border-radius: 25px;
 
    
}

.button-container-main{
   justify-content: space-around;
   margin-top: 10%;
}
.p-class-main-container{
    color: white;
}

.reply-message-icon{
    font-size: 32px !important;
}