.Notification-component-main{
  
        background-color: #171717;
    color: white;
    margin-bottom: 50px;

    
    
}

.single-notification{
    display: flex;
    gap:10px;
    justify-content: center;
    margin-top: 15px;
    
}

.amount-of-money-transaction{
    color: var( --main-secondary-color);
}


@media (max-width: 768px){
    .Notification-component-main{
  
        background-color: #171717;
        font-size: 11px !important;
    color: white;
    width: 80%;
    margin-left: 70px;
   
    margin-bottom: 20px;
    
    
}

}