.donors-page-heading {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  color: var(--main-light-shaded-color);
  margin: 0 0 0 5px;
}

.users-icon-in-donors-page {
  width: 22px;
  height: 16px;
}

.donors-page-heading-spacer {
  width: 9px;
}

.donors-page-word {
  font-size: 20px;
}