.Campaign-Card-Basic-Info{
  display: flex;
  flex-direction: column;
  margin: 3%;
}


.Campaign-Card-Component {

  display: flex;
  flex-direction: column;
  width: 340px;
  margin-top: 2%;
  
  flex-shrink: 0;
  border-radius: 20px;
  background: var(--main-tertiary-color);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);



}

.Campaign-Card-Component img {
  width: 100%;
  height: 45%;
}

.Capmaign-Card-label {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--main-secondary-color);
  height: 15px;
  
}

.start-card-label {
  display: flex;
  font-family: 'Courier New', Courier, monospace;
  font-size: 10px;

}

.end-card-label {
  margin-left: 100px;
}

.Campaign-Card-project-title-with-icon{
  display: flex;
  justify-content: space-between;
  color: white;
  /* margin: 10px; */
  
}

.Campaign-Card-Credits{
  display: flex;
  color: white;
  
}

.Campaign-Card-Credits p, .Campaign-Card-stats p{
  font-family: 'Courier New', Courier, monospace !important;

}
.Campaign-p-description{
  color:  #FFF;
font-size: 12px;

}
.Campaign-Card-stats{
  display: flex;
  margin-top: 10%;
  color: white;
  
  
}
.Campaign-Card-stats h6{
  margin: 5px ;
  margin-left: 5px !important;
}