.loading-donors {
  color: var(--main-secondary-color) !important;
  font-size: 50px !important;
  font-weight: bolder !important;
}

/* Head of table */

.users-list-table {
  border-collapse: collapse !important;
}

.table-row-head { /*star means all children of div */
  height: 40px !important;
  border-radius: 500px 500px 0 0 !important;
  background-color: var(--main-shaded-color) !important;
  color: var(--main-secondary-color) !important;
  font-size: 15px !important;
}

.table-column-id {
  width: 7.5% !important;
  border-radius: 25% 0 0 0 !important;
}

.table-column-username {
  width: 15% !important;
}

.table-column-first-name {
  width: 15% !important;
}

.table-column-last-name {
  width: 15% !important;
}

.table-column-phone {
  width: 10% !important;
}

.table-column-email {
  width: 18% !important;
}

.table-column-dob {
  width: 7.5% !important;
}

.table-column-gender {
  width: 6% !important;
}

.table-column-edit-delete {
  width: 6% !important;
  border-radius: 0 25% 0 0 !important;
}

/* Body of table */

.table-row-body * {   /* the star is to include all children */
  height: 45px !important;
  border: 1px solid var(--main-shaded-color) !important;
  color: var(--main-light-shaded-color) !important;
  text-align: center !important;
  font-size: 15px !important;
}

.table-column-edit-delete-for-body {
  display:flex !important;
  margin-left: 10% !important;
  margin-right: 10% !important;
  align-items: center !important;
  border: 0 !important;
}

.table-edit-icon {
  height: 40% !important;
  width: 40% !important;
  border: 0 !important;
}

.table-icon-spacer {
  width: 30% !important;
  margin: 0 !important;
  border: 0 !important;
}

.table-delete-icon {
  height: 40% !important;
  width: 30% !important;
  border: 0 !important;
}
