.campaign-main-Container{
    display: flex;
  
    flex-wrap: wrap;
    max-width: 85%;
    justify-content: space-evenly;
    gap: 50px;
    margin-top: 2% !important;
    margin-right: auto;
  
}
.campaign-main-admin{
    margin-top: 5%;
}

.campaign-icon-in-donors-page{
    width: 32px;
    height: 32px;
    margin-left: 10%;
}