.campaign-main-Container{
    display: flex;
  
    flex-wrap: wrap;
    max-width: 85%;
    justify-content: space-evenly;
    gap: 50px;
    margin-top: 2% !important;
    margin-right: auto;
  
}
.campaign-main-admin{
    margin-top: 5%;
}

.campaign-icon-in-campaign-page{
    width: 24px !important;
    height: 24px !important;
    margin-left: 5% !important;
}

.donors-page-word {
    color: white;
}

.donors-page-heading-spacer {
    width: 5px;
}

.donors-page-heading {
    display: flex;
}