@font-face {
    font-family: spartan;
    src: url('../src/Assets/league-spartan.bold.ttf');
  }
  .html{
    height: 100%;
    width: 100%;
  }


  :root {
    --main-primary-color: #1E1E1E;
    --main-secondary-color: #F3C21B;
    --main-tertiary-color: #383842;
    --main-shaded-color: #555454;
    --main-light-shaded-color: #CAC5C1;
    
  }
  

body{
    font-family: spartan !important;
   background-color: #333333 !important;

  }

.App{
  width: 100%;
  height: 100%;
  display: flex;
}