.creator-main-card-controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.creator-main-card-edit, .creator-main-card-delete{

    width: 32px !important;
}
.document-icon{
    font-size: 22px !important;
    align-self: center;
}